:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
 --text-color: #000;
  --bg-color: #f3f3f3;
  --main-color: #7484dc;
  --second-color: #fff;
  --other-color: #868686;
  --third-color: #2de2eb;
  --big-font: 4.5rem;
  --p-font: 1rem;
}


body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FAFAFA;
}



